body{
  box-sizing: content-box;
}


img {
  height: 200px;
}

.button {
  border: 1px solid black;
  padding: 10px 12px;
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 12px;
  font-family: Times;
  &.backButton {
    font-size: 10px;
    &:hover{
      border: 1px solid dodgerBlue;
    }
  }
  &.formSubmitButton{
    &:hover{
      border: 1px solid #3EA031;

    }
  }
}


nav{
  margin-bottom: 20px;
}
.container{
  // width: 80%;
  margin: 0 auto;
}

.singleComponentBox{
  // width: 50%;
  &.singleVideoComponentBox{
    // width: 267px;
    text-align: center;
    // padding-top: 30px;
  }
}

.danceStyleTag{
  margin: 5px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 10px;
}

.danceStyleTagContainer{
  display: flex;
}

span {
  font-style: italic;
}

.smallFont{
  font-size: 10px;
}


// .btn:disabled{
//   color: red
// }


//
.fa-arrow-up{
  padding-right: 5px;
}

.row{
  display: flex;
}

.videoBox{
  border-bottom: 1px solid grey;
  padding: 10px 0;
  // margin: 10px;
}

.testContainer{
  padding: 5px;
}

.fa-arrow-up {
    padding-right: 0px;
}

.voteButton{
  padding: 3px 5px;
}

//
.formContainer{
  margin: 0 auto;
  width: 40%;
}

.formInput{
  width: 100%;
  height: 35px;
  margin: 5px 0;
  padding: 5px;
}

.buttonsBox{
  text-align: center;
}

.left, .right{
  width: 50%;
}
