* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

body{
  margin: 0;
}

img {
  height: 200px;
}

.container{
  margin: 0 auto;
}

.error{
  margin: 3px 0px 10px;
  background-color: #F9D9DE;
  color: white;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
}

.rowProfile{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  width: 60%;
}


.danceStyle{
  background-color: grey;
  color: white;
  border-radius: 5px;
  width: 75px;
  padding: 5px 7px;
  margin: 5px auto;
}


// <<<<<< icons >>>>>>
.fa-arrow-up{
  padding-right: 5px;
}

.icon{
  height: 20px;
}

.fa-plus{
  padding-right: 5px;
}

.fa-arrow-up {
    padding-right: 0px;
}


// <<<< layout >>>>>
.row{
  display: flex;
  flex-direction: row;
}

.right{
  width: 50%;
}

.left{
  width: 50%;
  margin-top: 20%;
  &.leftProfile{
    margin: 10% auto 0;
    text-align: center;
  }
}



// <<<<< video styles >>>>>
.videoBox{
  padding: 10px 0;
}

.singleVideoRightContainer{
  padding: 5px;
}

.singleVideoComponentBox{
  text-align: center;
  &.singleVideoComponentBox--asOverlay{
    position: absolute;
    left:10px;
    top:30%;
    width: 40vw;
  }
}

// <<<<<  forms  >>>>>>>>>
.formContainer{
  margin: 20% auto 0;
  width: 40%;
}

.register{
  margin-top: 10%;
}

.formInput{
  width: 100%;
  border: solid 1px lightgrey;
  height: 35px;
  margin: 5px 0;
  padding-left: 7px;
  &:hover {
    border: solid 1px black;
  }
}

// <<<<<<<< home page left container >>>>>>>>>
.aboutText{
  width: 75%;
  margin: 0 auto;
}

.slogan{
  padding-bottom: 20px;
  text-align: right;
  color: grey;
}

.info{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.logoutContainer{
  margin-top: 20px;
}


// <<<<< buttons >>>>>

.button {
  border: 1px solid black;
  padding: 10px 12px;
  text-decoration: none;
  color: black;
  margin: 5px;
    // font-family: 'Raleway', sans-serif;
  &.success {
    &:hover {
      border: 1px solid #3EA031;
    }
  }
  &.authButton{
    padding: 14px;
    margin-top: -10px;
  }
  &.logoutButton{
    padding: 13px;
    &.cancel {
      &:hover {
        border: 1px solid red;
      }
    }
  }
}

.voteButton{
  padding: 3px 5px;
}

.close{
  position: absolute;
  top: 600px;
  left: 270px;
}

.buttons{
  margin: 40px auto;
  width: 30%;
}

.profileButtons{
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  &.button{
    font-family: 'Raleway', sans-serif;
    width: 45px;
    height: 45px;
  }
}

.buttonsBox{
  text-align: center;
  margin-top: 10px;
}
